services:
  nginx:
    container_name: nginx
    build: ./requirements/NGINX
    ports:
      - "443:443"
    depends_on:
      - wordpress
    volumes:
      - ./requirements/NGINX/nginx.conf:/etc/nginx/nginx.conf
      - ./requirements/NGINX/temp_cert/mycert.crt:/etc/ssl/mycert.crt
      - ./requirements/NGINX/temp_cert/mykey.key:/etc/ssl/mykey.key
    networks:
      - inception

  mariadb:
    container_name: mariadb
    build: ./requirements/MariaDB
    volumes:
      - /home/${USER}/data/mariadb:/var/lib/mysql
    expose:
      - "3306"
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    networks:
      - inception

  wordpress:
    container_name: wordpress
    build: ./requirements/WordPress
    volumes:
      - /home/${USER}/data/wordpress:/var/www/html
    depends_on:
      - mariadb
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_HOST: ${MYSQL_HOST}

      DOMAIN_NAME: ${DOMAIN_NAME}

      WP_TITLE: ${WP_TITLE}
      WP_ADMIN_USER: ${WP_ADMIN_USER}
      WP_ADMIN_PASSWORD: ${WP_ADMIN_PASSWORD}
      WP_ADMIN_EMAIL: ${WP_ADMIN_EMAIL}

      WP_USER: ${WP_USER}
      WP_USER_EMAIL: ${WP_USER_EMAIL}
      WP_USER_PASSWORD: ${WP_USER_PASSWORD}
    expose:
      - "9000"
    networks:
      - inception

networks:
  inception:
    driver: bridge